[Interface]
Address = {{ private_ip }}
PrivateKey = {{ private_key }}
PostUp = iptables -t nat -A POSTROUTING -o ens3 -j MASQUERADE; ip6tables -t nat -A POSTROUTING -o ens3 -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o ens3 -j MASQUERADE; ip6tables -t nat -D POSTROUTING -o ens3 -j MASQUERADE
ListenPort = 51820

{% for item in groups['wireguard'] %}
{% if item != inventory_hostname %}
[Peer]
PublicKey = {{ hostvars[item]['public_key'] }}
AllowedIps = {{ hostvars[item]['private_ip'] }}/24
Endpoint = {{ hostvars[item]['public_ip'] }}:51820

{% endif %}
{% endfor %}