[Interface]
Address = {{ private_ip }}
PrivateKey = {{ private_key }}
PostUp = iptables -t nat -A POSTROUTING -o ens3 -j MASQUERADE; iptables -t nat -I POSTROUTING 1 -s 10.0.1.0/24 -o ens3 -j MASQUERADE; iptables -I INPUT 1 -i wg0 -j ACCEPT; iptables -I FORWARD 1 -i ens3 -o wg0 -j ACCEPT; iptables -I FORWARD 1 -i wg0 -o ens3 -j ACCEPT; iptables -I INPUT 1 -i ens3 -p udp --dport 51820 -j ACCEPT
PostDown = iptables -t nat -D POSTROUTING -o ens3 -j MASQUERADE; iptables -t nat -D POSTROUTING -s 10.0.1.0/24 -o ens3 -j MASQUERADE; iptables -D INPUT -i wg0 -j ACCEPT; iptables -D FORWARD -i ens3 -o wg0 -j ACCEPT; iptables -D FORWARD -i wg0 -o ens3 -j ACCEPT; iptables -D INPUT -i ens3 -p udp --dport 51820 -j ACCEPT
ListenPort = 51820

{% for item in groups['wireguard'] %}
{% if item != inventory_hostname %}
[Peer]
PublicKey = {{ hostvars[item]['public_key'] }}
AllowedIps = {{ hostvars[item]['private_ip'] }}/24
Endpoint = {{ hostvars[item]['public_ip'] }}:51820

{% endif %}
{% endfor %}